.card {
  background-color: $white;
  border: none;
  box-shadow: 0 0 10px -4px rgb(0 0 0 / 20%);

  .card-header {
    color: $gray-900;
    background: $white;
    border-bottom: 1px solid #e5e7eb;
    border-bottom: none;
    font-size: 18px;
    font-weight: 500;
  }
}
