.pagination {
  .page-stats {
    background: #f8f8f8;
    padding: 4px 22px;
  }

  a {
    margin-right: 5px;
    background: #f8f8f8;
    padding: 4px 6px;
    text-decoration: none !important;
  }
}
