.card-stats {
    box-shadow: $status-card-shadow;

    .card-body {
        padding: 4px 15px;
    }

    .card-header-info,
    .card-header-accent {
        border-radius: 3px;
        margin-top: -40px;
        padding: 10px;
        border: none;
        box-shadow: 0 4px 20px 0 #dcedc8, 0 7px 10px -5px #dcedc8;

        .card-title {
            color: $white;
        }
    }

    .card-header-accent {
        background: linear-gradient(60deg,#9ccc65,#9ccc65);
    }

    .card-header-info {
        background: linear-gradient(60deg,#388e3c,#388e3c);
    }

    .card-footer {
        padding: 6px 5px;
        background: transparent;
        border-top: 1px solid #eee;
        margin-top: 14px;

        .status {
            font-size: 14px;
        }
    }
}
