.top-navbar {
  background: $white;
  z-index: 10000;

  .navbar-nav {
    li {
      a {
        color: $gray-800 !important;
      }
    }
  }
}

.user-setting {
  .dropdown-menu {
    background-color: $white !important;

    li {
      a {
        &:hover {
          background-color: $gray-50 !important;
        }
      }
    }
  }
}

