$white:    #ffffff !default;

$black:    #000000 !default;
$font-color: #525f7f !default;

$gray-50: #f9fafb !default;
$gray-100: #f3f4f6 !default;
$gray-200: #e5e7eb !default;
$gray-300: #d1d5db !default;
$gray-400: #9ca3af !default;
$gray-500: #6b7280 !default;
$gray-600: #4b5563 !default;   // Line footer color
$gray-700: #374151 !default;   // Line p color
$gray-800: #1f2937 !default;   // Line heading color
$gray-900: #111827 !default;

$active: #5EBB1E;

$link-disabled:              #666666 !default;
$transparent-bg:             transparent !default;
$light-bg:                   #f5f6fa !default;
$dark-background:            #555555 !default;

$default:       #344675 !default;
$primary:       #e14eca !default;
$secondary:     #f4f5f7 !default;
$success:       #00f2c3 !default;
$info:          #1d8cf8 !default;
$warning:       #ff8d72 !default;
$danger:        #fd5d93 !default;
$black:         #222a42 !default;
$vue:           #42b883 !default;

// Typography
$font-width-100: 100;
$font-width-200: 100;
$font-width-300: 100;
$font-width-400: 100;
$font-width-500: 100;
$font-width-600: 100;
$font-width-700: 100;
$font-width-800: 100;

$bg-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%) !important;
$bg-active-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$status-card-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);

@import "components/card";
@import "components/button";
@import "components/input_field";
@import "components/table";
@import "components/pagination";
@import "components/status";

