@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  color: $font-color;
  background: $gray-200;
  font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
  text-transform: capitalize;
  text-rendering: optimizeLegibility !important;
  font-weight: 400;
}

.active > a{
  font-weight: 600;
  color: #fff;
  background-color: $gray-600;
  transition: all 0.3s;
}
